<!DOCTYPE html>
<html>
<head>
  <title>Github Dashboard Using Ansible</title>
  <style>
    body {font-family: sans-serif; padding:20px}
    .card{border:1px solid #ccc; padding:15px; width: 300px}
  </style>
</head>
<body>
  <h2>Github profile: {{user.login}}</h2>
  <div class="card">
    <p><strong>Name: </strong>{{user.name}}</p>
    <p><strong>Bio:</strong>{{user.bio}}</p>
    <p><strong>Repos:</strong>{{user.public_repos}}</p>
    <p><strong>Followers:</strong>{{user.followers}}</p>
    <p><a href="{{user.html_url}}">Github Link</p>
  </div>
</body>
</html>
